.layout-main {
  width: 100vw;
  max-width: 402px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background: var(--warm-beige);
  overflow: hidden;
  border-radius: 32px;
}

.layout-section {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  min-height: 0;
  overflow: hidden;
}
