.title-subtitle-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  width: 100%;
  padding-bottom: 1.5rem;
}

.title-subtitle-logo {
  width: 25%;
}

.title-subtitle-logo img {
  border-radius: 0.5rem;
}
