.app-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout-header {
  flex: 0 0 auto;
}

.layout-main {
  width: 100%;
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  min-height: 0; /* allow children to shrink */
  overflow: hidden;
}